* {
font-family: Arial, Helvetica, sans-serif;

}

.container{
margin-top: 50px;
position: relative;

height: 100vh;
}

.container .content{
display: flex;
flex-wrap: wrap;
inline-size: none;
justify-content: center;
flex-direction: row;
}


.container table {
width: 350px;
margin: 50px;
border-collapse: collapse;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container table tr td{
padding-left: 10px;
padding-right: 10px;
}

.container table td p{
border-bottom: 2px solid rgba(0, 0, 0, 0.3);
padding: 10px 0 15px 0;
}

.container table tr th h3 {
font-size: 20px;
color: rgb(241, 252, 251);
}

.container table tr th p {
font-size: 15px;
color: rgb(241, 252, 251);
}


.container table:nth-child(1) tr th,.container table:nth-child(1) tr .button {
background-color: rgb(171, 143, 220);
padding: 10px;
}

.container table:nth-child(2) tr th, .container table:nth-child(2) tr .button {
background-color: rgb(186, 188, 135);
padding: 10px;


}

.container table:nth-child(3) tr th, .container table:nth-child(3) tr .button {
background-color: rgb(35, 162, 6);
padding: 10px;

}


.button {
text-decoration: none;
color: aliceblue;
text-align: center;
font-weight: bolder;
}

.button a{
text-decoration: none;
color: aliceblue;
text-align: center;
}